* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* containers formatting */

#filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 28%;
    height: 100vh;
}
#experiments-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 22%;
    height: 100vh;

    border: 2px solid darkslategrey;
    border-radius: 10px;
    margin-top: 20px;

    background-color: lightpink;
}
#charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* filter list styling */
/* FIXME: display inputs and outputs similarly to the experiment layout, separating types */
#input-filters {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#output-filters {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-label {
    margin-left: 5px;
    cursor: pointer;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds spacing between elements */
    margin-bottom: 5px;
}
.range-container {
    display: flex;
    gap: 5px; /* Space between min and max inputs */
}

.min-input, .max-input {
    width: 60px; /* Adjust width as needed */
    height: 16px;
    padding: 5px;
}

/* experiments list styling */

.experiment {
    flex: 0 0 300px;
    height: 300px;
    overflow-y: auto;

    border: 2px solid darkslategrey;
    border-radius: 10px;

    padding: 20px;
    margin: 5px;
    background-color: white;
}

.experiment-inputs {
    display: none;
}

.show {
    display: block;
}

.display-inputs-btn {
    cursor: pointer;
}

.property-entry {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.subproperty-entry {
    padding-left: 20px;
}