* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#filters-container {
    width: 20%;
}

#data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
}

/* experiments list styling */
#experiments-list {
    display: flex;
    overflow-x: auto;
    width: 95%;

    border: 2px solid darkslategrey;
    border-radius: 10px;
    margin-top: 20px;

    background-color: lightpink;
}

.experiment {
    flex: 0 0 300px;
    height: 300px;

    border: 2px solid darkslategrey;
    border-radius: 10px;

    padding: 20px;
    margin: 5px;
    background-color: white;
}

.experiment-lists {
    font-size: 10px;
    display: flex;
}

#charts-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

/* filter list styling */
#filters-container {
    margin-left: 20px;
}

.filter-item {
    margin-bottom: 10px;
}

.filter-label {
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.range-container {
    margin-top: 5px;
    padding: 5px;
    background: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    transition: all 0.3s ease-in-out;
}

.min-input, .max-input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
