* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: "jali-latin-variable", sans-serif;
    color: #383838;
}

/* containers formatting */
#filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100vh;
    padding: 30px;
}
#experiments-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    padding: 30px;
    padding-left: 0;
}
#charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100vh;
    padding-top: 30px;
}
/* remove charts from layout when window is too narrow */
@media (max-width: 1200px) {
    #filters-container {
        width: 50%;
    }
    #experiments-container {
        width: 50%;
    }
    #charts-container {
        display: none;
    }
}

/* filter list styling */
#apply-filters-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    color: white;
}
#input-filters {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
}
#output-filters {
    width: 100%;
    min-height: 125px;
    overflow-y: hidden;
}
#input-filters, #output-filters {
    border: 1px solid #b2b2b2;
    border-radius: 7px;
}
.filter-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-option, .filter-type {
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #b2b2b2;
}
.filter-subtype {
    padding-left: 20px;
}
.filter-label {
    margin-left: 5px;
}
.filter-checkbox {
    cursor: pointer;
}
.range-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-width: 170px;
}
.min-input, .max-input {
    font-family: "jali-latin-variable", sans-serif;
    width: 45%;
    min-width: 20px;
    height: 100%;
}

/* experiments list styling */
#experiments-count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color: #919191;
}
#experiments-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    overflow-y: auto;
    border-top: 1px dotted #b2b2b2;
    border-bottom: 1px dotted #b2b2b2;
    border-radius: 10px;   
}
#experiments-list::-webkit-scrollbar, #input-filters::-webkit-scrollbar {
    display: none;
}
.experiment {
    padding: 20px;
    margin: 5px;
}
.experiment-title {
    padding-bottom: 10px;
}
.dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.dropdown-btn {
    display: flex;
    padding-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}
.dropdown-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 10px;
    margin-top: 3px;
    border: solid #b2b2b2;
    border-width: 1.5px 1.5px 0 0;
    transform: rotate(135deg);
    transition: transform 0.3s ease;
    position: absolute;
    left: 90%;
}
.dropdown-btn.expanded::after {
    transform: rotate(-45deg);
}
.dropdown-content {
    color: #919191;
}
.value-entry {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 10px;
    border-bottom: 1px dotted #b2b2b2;
}
.type-entry {
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 1px dotted #b2b2b2;
}
.subtype-value-entry {
    padding-left: 20px;
}

/* chart container styling */
#selection-menu {
    padding-bottom: 50px;
    height: 10%;
}
#input-chart, #output-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}
.compare-label {
    margin-left: 20px;
    margin-right: 20px;
    color: #919191;
}
select {
    width: 250px;
    appearance: none;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    color: #b2b2b2;
}
select, .experiment {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
select:focus {
    outline: none; 
}
#compare-choice-1:hover {
    border: 2px solid #4ea6fb;
}
#compare-choice-2:hover {
    border: 2px solid #ed5186;
}
.select-wrapper {
    position: relative;
    display: inline-block;
}
.select-wrapper::after {
    content: "";
    width: 7px;
    height: 7px;
    border: solid #b2b2b2;
    border-width: 1.5px 1.5px 0 0;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: 32%;
    pointer-events: none;
}